/// Font

$mainFont:IRANSans;
$fontSize:13px;
$fontWeight:normal;


/// Color

$graybg:#919295;

$border-Color:#DFE7F3;

$textColor:#4D5A68;

$darkBg:#15182B;

$light-Bg:#F0F6FF;

$white:#FFFFFF;

$info-Dark:#218EF0;

$info:#399AF2;

$info-light:#51A6F4;

$warning-Dark:#FFC64E;

$warning:#FFCE67;

$warning-light:#FFD681;

$danger-Dark:#FF435F;

$danger:#FF5C75;

$danger-light:#FF768B;

$success-Dark:#2AAB8F;

$success:#2FBFA0;

$success-light:#39CEAE;

$secondary-Dark:#687FAB;

$secondary:#788DB4;

$secondary-light:#889BBD;

$primary-Dark:#514CB7;

$primary:#635EBE;

$primary-light:#7570C5;

$gray100:#707070;